/* ----------------------------------- *
 * Your Styles Here
 * ----------------------------------- */


:root {
  --red: #EA2E49;
  --blue: #77C4D3;
  --yellow: #E9F198;
  --gray: #3A4453;
  --green: #DAEDE2;
}



body {
  display: grid;
  margin-top: 25px;
  grid-gap: 1em;
  padding: 1em;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas:  "header header header"
                        "intro intro sidebar"
                        "content content sidebar";
  background-color: var(--green);
}


